<form id="search" class="center" action="/search" method="GET">
  {{!-- <span class="center"><img src="https://i.ibb.co/g7Y2xx8/logo.png" alt="logo"></span> --}}
  <div class="search-bar center">
    <input type="text" name="term" autocomplete="off"
      {{#if searchTerm}}
      value="{{searchTerm}}"
      {{/if}}
      placeholder="Search for a Davidson Wildcat"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'enter your text'"
      id="term-input">
    <button type="submit" class="red darken-4 waves-effect waves-light btn-small black"><i class="material-icons large"><em>SEARCH</em></i></button>
  {{!-- </div>
  <div class="row">
    <div class="column">
      <img src='https://cdn.discordapp.com/attachments/694578697411494029/695417453286522930/unknown.png' alt="">
    </div>
    <div class="column">
      <img src='https://cdn.discordapp.com/attachments/694578697411494029/695417031641661480/unknown.png' alt="">
    </div>
    <div class="column">
      <img src='https://cdn.discordapp.com/attachments/694578697411494029/695416278969745528/unknown.png' alt="">
    </div> --}}
  </div>
</form>
