<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CatSearch</title>
  <link rel="stylesheet" href="./public/style.css">
  <link rel="stylesheet" href="./css/search-bar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      {{!-- fonts --}}
      <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Teko:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>
