body {
  font-family: 'Faster One', cursive;
  background-image: url('https://cdn.discordapp.com/attachments/694578697411494029/695416278969745528/unknown.png')
}

#header-title {
  font-size: 10rem;
  width: fit-content;
  margin: 2% auto;
}

.wildcat-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  padding: 2%;
  width: 80%;
  margin: 2% auto;
}

.wildcat-profile {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: space-between;
  padding: 2%;
  border: 2px solid black;
  border-radius: 2rem;
  margin: 2% auto;
  width: 100%;
}
.wildcat-pic {
  width: 45%;
  margin: 1%;
}

.wildcat-info {
  font-family: 'Teko', sans-serif;
  width: 45%;
  margin: 1%;
}

.wildcat-info .wildcat-name {
  font-family: 'Faster One', cursive;
}

.wildcat-details {
  font-size: 2rem;
}

.hero-pic img {
  width: 100%;
}

.hero-info {
  width: 45%;
}

#search {
  position: relative;
  top: 45%;
  align-content: center;
  width: 100%;
}

.center {
  margin: 0 auto;
}

.center img {
  width: 100%;
}

.search-bar {
  width: 30%;
}

input {
  width: 50%;
  height: auto;
  font-family: Helvetica, sans-serif;
  border: solid black 1px;
  border-radius: 25px;
  margin: 0 auto;
}

button {
  height: auto;
  border-radius: 25px;
  margin: 0 auto;
}
